
.title {
    font-size: 45px;
    
    color:#6a5c52;
    padding-bottom: 50px;
    margin-top: 25px;
}
p {
    font-size: 17px;
    
    color:#6a5c52;
    padding-bottom: 25px;
}
h3 {
    font-size: 25px;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-body {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}

.my-4 {
    margin: 1.5rem 0;
}


iframe {
    width: 100%;
}
