h1 {
    font-size: 45px;
    /* font-family: 'Capriola', sans-serif; */
    color:#6a5c52;
    padding-bottom: 50px;
    margin-top: 25px;
}

p {
    font-size: 17px;
    /* font-family: 'Capriola', sans-serif; */
    color:#6a5c52;
    padding-bottom: 25px;
}
