

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:50px;
	overflow:hidden;
	width:44px;
	height:44px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../img/back_to.png) no-repeat left top;
}


#toTop:hover {
	outline:none;
	background-position: 0 -44px;
}
